{% extends 'base.html.twig' %}

{% block title %}
	Artisca : A propos de nous
{% endblock %}

{% block body %}


	<div class="container" data-aos="fade-up">

		<div class="text-center mb-2">
			<h1 class="text-center">A propos de nous</h1>
			<div class="d-flex justify-content-center reed">
				<hr class="w-75">
			</div>
		</div>


		<h3 class="text-center">Qui Sommes Nous ?</h3>

		<div class="intro fst-italic text-center mt-4">
			<p>
				<strong>Arstica</strong>
				est une association d'éducation populaire (Loi 1901) qui applique des principes de tolérance, de démocratie et de laïcité et est créatrice de lien social.
			</p>
		</div>
		<div>
			<ul>
				<li>
					Elle a pour vocation de permettre à tous d’accéder à l'éducation, aux loisirs et à la culture. Ouverte à tous, elle offre une diversité d'activités et de services répondant aux attentes des adhérents. Espace de rencontres et d'expérimentation, chacun peut pratiquer son activité et y prendre des responsabilités.
				</li>
				<li>
					Elle est administrée par des dirigeants bénévoles, réunis au sein d'un Conseil d'administration élu par les adhérents lors de l'Assemblée Générale Annuelle.
				</li>
				<li>
					Elle est soutenue par la CAF de l'Essonne qui lui a délivré un agrément Espace de Vie Sociale (EVS) et la soutient financièrement tout comme la Ville de Juvisy qui attribue une subvention permettant de mener à bien son projet associatif.
				</li>
			</ul>
		</div>
		<div class="text-center mt-5">


			<h3>Quels Sont Nos Objectifs</h3>
			<p class="text-center mt-4">
				Vous connaissez à présent l’équipe et le projet ! Cela a titillé votre curiosité ?
																		                 Restez informé : en souscrivant à la newsletter, vous recevez les dernières actualités
																		                  dans le secteur.</p>
		</div>

		<div class="row content">
			<div class="col-lg-6">
				<p class="st-italic">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					sed do eiusmod tempor incididunt ut labore et dolore
					magna aliqua. Lorem ipsum dolor sit amet, consectetur adip.
				</p>
			</div>
			<div class="col-lg-6 pt-4 pt-lg-0">
				<p>
					Ullamco laboris nisi ut aliquip ex ea commodo consequat.
					Duis aute irure dolor in reprehenderit in voluptate. 
					velit esse cillum dolore eu fugiat nulla pariatur. 
				</p>
			</div>
		</div>
	</div>
{% endblock %}
