<h3 class="text-center mt-5 mb-5">Hey! Veuillez confirmer votre email s'il vous plaît!</h1>

<p>
    Confirmer votre Email en cliquant sur ce lien: <br><br>
    <a href="{{ signedUrl }}">Confirmez votre Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Chers!
</p>
