<footer class="mt-3 pacif">

<nav class="navbar navbar-light ">
  <div class="container-fluid">
    <a class="navbar-item" href="mention">Mentions Légales</a>
    <a href="cgu">Conditions d'Utilisation Générales</a>
    <p class="d-flex"> 
    Copyright &copy; Artisca 2021
    </p>
  </div>
</nav>
</footer>
